.App {
    text-align: center;
    margin: 0;
    justify-content: center;
    margin: 0;
}
body {
    background-color: white;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    width: 100vw;
    position: relative;
    /* background: #425a52; */
}
/* BOOKRECOMMENDATIONS.js */
.bookHeader {
    font-size: 2em;
    font-weight: bold;
    margin-top: 10vh;
    text-align: center;
    font-family: 'Almendra Display', cursive;
}
.cont {
    align-content: center;
    align-items: center;
}
@media screen and (min-width: 500px) and (max-width: 600px) {
    .cont {
        margin-top: 25vh;
    }
}
.cardContainer {
    box-sizing: border-box;
    margin: auto;
    margin-top: 10vh;
    padding: 5px;
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    justify-items: center;
}
@media screen and (max-width: 1000px) {
    .cardContainer {
        grid-template-columns: 30% 30%;
    }
}
@media screen and (max-width: 600px) {
    .cardContainer {
        grid-template-columns: 50%;
    }
}
.card {
    display: grid;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    width: 90%;
    height: 100%;
    padding: 5px;
    border: none;
}
.card > * {
    grid-area: 1/1;
    transition: 0.4s;
}
.card .back {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    background: var(--c, rgba(255, 255, 255, 0.833));
    clip-path: inset(0 var(--_i, 100%) 0 0);
    -webkit-mask: linear-gradient(#ffffff 0 0), linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
}
.front {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}
.back {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    font-size: 0.5em;
}

.card:hover .back {
    --_i: 0%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

@supports not (-webkit-mask-clip: text) {
    .card .back {
        -webkit-mask: none;
        color: #fff;
    }
}

.bookImage {
    justify-self: center;
    align-self: end;
    padding-bottom: 2px;
}

/* --------------------------------------------------------- */

/* HEADERCOMP.js */

.nav-link {
    color: black;
}

/* FIND US */
.iframe {
    object-fit: cover;
    display: flex;
    width: 20vw;
    height: 34vh;
    border-radius: 5px;
}
@media screen and (max-width: 500px) {
    .iframe {
        width: 100%;
        height: 100%;
    }
}
