/* justify-content: center;
justify-items: center;
justify-self: center;
align-content: center;
align-items: center;
align-self: center;
text-align: center; */

.App {
    text-align: center;
    margin: 0;
}
body {
    background-color: white;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    width: 100vw;
    /* background: #425a52; */
}
/* BOOKRECOMMENDATIONS.js */
.bookHeader {
    font-size: 2em;
    font-weight: bold;
    margin-top: 10vh;
    text-align: center;
    font-family: 'Almendra Display', cursive;
}
.cardContainer {
    box-sizing: border-box;
    margin-top: 10vh;
    padding: 5px;
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .cardContainer {
        grid-template-columns: 30% 30%;
    }
}
@media screen and (max-width: 600px) {
    .cardContainer {
        grid-template-columns: 50%;
    }
}
.card {
    display: grid;
    box-sizing: border-box;
    /* border-radius: 1rem; */
    overflow: hidden;
    cursor: pointer;
    width: 70%;
    height: 100%;
    padding: 5px;
    border: none;
}
.card > * {
    grid-area: 1/1;
    transition: 0.4s;
}
.card .back {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    background: var(--c, rgba(255, 255, 255, 0.833));
    clip-path: inset(0 var(--_i, 100%) 0 0);
    -webkit-mask: linear-gradient(#ffffff 0 0), linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
}
.front {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}
.back {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    font-size: 0.5em;
}

.card:hover .back {
    --_i: 0%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
/* .card:hover img {
    transform: scale(1.2);
} */
@supports not (-webkit-mask-clip: text) {
    .card .back {
        -webkit-mask: none;
        color: #fff;
    }
}

.bookImage {
    justify-self: center;
    align-self: end;
    padding-bottom: 2px;
}

/* --------------------------------------------------------- */

/* HEADERCOMP.js */
/*
.navbar {
    flex-direction: column;
    position: fixed;
    z-index: 2;
    width: 100vw;
    align-items: center;
    justify-items: center;
}

.navbar-toggler {
    display: none;
}


#navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
@media screen and (max-width: 600px) {
    .navbar-toggler {
        display: flex;
        font-size: 2.5em;
        text-align: center;
        justify-content: center;
    }
}
@media screen and (max-width: 600px) {
    #navbar-nav {
        display: none;
    }
}

.navbar-brand {
    font-size: 2em;
    padding: 5px 30px 5px 30px;
    margin: 0;
    color: black;
}
.nav-item {
    padding-top: 10px;
    color: black;
} */
/* a {
    color: black;
} */
.nav-link {
    color: black;
}

/* HEROCOMP */
/* .Hero-image {
    width: 80vw;
    position: relative;
    top: 8vh;
} */

/* FOOTER */
footer {
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.199);
    padding-top: 5vh;
    margin-top: 5vh;
}
.contact {
    line-height: 0.7;
}
.social {
    font-size: 2em;
}

/* MASKEDTEXT */
/* .text {
    font-weight: bolder;
    line-height: 15vh;
    background: url('https://lh3.googleusercontent.com/SFGbghHm6R8j9eIGgCt6MEP-7JPTI0GaJVfRBSBkZ3N6zfRevEyjiBdg3QwXPFR0SbhIvCRt4xA2oLLXobrpBarQKX7fCZPznOeAbD6TVAw6Ddj0u2uLPcCAaWVBul-9wd-hXJuNFWZlSPw4y7Gn5KKTccv2-1pQ34u1bkPJaS55Um82CH5QY3HtEBvjeHOz75FQqBclZUUgXV-zMgdo_nhofffun4sDtQjK-zIm59INtITVXjJDYDMH_6OU_Ddiysaqw6ClyPHqwGF5TNB-GQlNoNfTGDjT-Q5Dxu5hsrCwh2NwMFMsrsSpnMXeEf34-47SgWD7mK3PD3mUEXe1gaQExP1zdbS3-IsN6KS-zpW6CKn31G5pU9msiu7p2FeJxhrwSZAyjbBb2WOlMzCTzUyRdZyDp-kb_qa0sQ7zdjs73x63dPLGI29rdJkmalw-8jNTJUGO0v0vbnv_L_Qhkh5U2DL1vv790aBWjoS15rAWrW9D2LDc-XlyfDfz3xyqCuTRuXkx-EyDnSdABcjD0Tc9e6kj-c9E5wSeYlCVv6gAdn2PKdsWE75pn31CoQx3dnEb_1LXnf2ZN5n-_OQPoGo40qtmjTEPgC3Nf-ImenVihkspv_0NmA-X-PlstarYQbZuaD7reVjV2uXU3v8PD3RwTjhInItjbNzq5f04fUmP80oD3UikXsOBtQlzoJKsGOWPs0co8OVgmPg15IioTdArtl0JL2WLt_VZHqrs5kUrxYaZVRLnhTnjb1NXcOyDAk-bRhthoZ5wHGiMCiKOSWVfqY_zDuGMT0yJ_DkZT8ZtCqzwZ-LWpEPykqaVDYb33Mb9G74CQCbNvcMOcNAefUYUHCRms5tjd-4Wo_XvEEYDfIQsu6Ww_YlMhWTPIJ_8xwPw2RvoaifnVIXGKn6i1lK84ZopX6jNGRqpxy4WM97RJQ=w1190-h893-s-no?authuser=0')
        center;
    font-size: 8em;
    text-align: center;
    margin: 0;
    border: 4px solid;
    background-size: contain;
    width: 80vw;
    height: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.subText{
    font-size: 2em;
}
.maskedText {
    margin-top: 15vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 100vw;
} */
